<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<br>
<p class ="card-text" > <%= link_to 'Back', projects_path %> </p>
<%if student_signed_in? %>
<%= link_to 'Edit', edit_project_path(@project) %> 
<%end %>
