<p id="notice"><%= notice %></p>

<h1 class="display-4">
  <p class="h3">Title: <%= @project.title %> </p>

</h1>

<p>
  <p class="h3">Description:</p>
  <%= @project.description %>
</p>
<br>
<p class ="card-text" > <%= link_to 'Back', projects_path %> </p>
<%if student_signed_in? %>
  <%= link_to 'Edit', edit_project_path(@project) %> 
<%end %>
