<!DOCTYPE html>
<html>
  <head>
    <title>CS3300</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--Login stuff from this tutorial (and from devise docs): https://www.youtube.com/watch?v=3vZtM2lskKM -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert%></p>
    <% if student_signed_in? %>
      <%= "Signed in as: " + current_student.email %>
      <%= link_to 'Log out', destroy_student_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Log in', new_student_session_path %>
      <%= link_to 'Sign up', new_student_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
